html,
body {
  height: 100%;
  margin: 0;
}

.dragger-element {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #f1ecec;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}